.footerFon {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 180px;
  margin: 90px auto;
  margin-bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.footerLink {
  font-weight: 500;
  color: white;
  font-size: 14px;
}
.footerLink:hover {
  color: rgb(78, 118, 218);
}



.mail {
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.copyright {
  font-size: 13px;
  color: white;
}

